/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}

*, html {
    font-family: 'Shadows Into Light', cursive;
}

.App {
    position: relative;
    min-height: 100vh;
    background-color: #010301;
    color: white;
}

.navbar_container{
    height: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

a {
    width: 100%;
    color: inherit;
    padding: none;
    margin: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
  display: block;
  width: 100%;
  height: 4vh;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(10, 10, 10, 1) 1%,
    rgba(25, 21, 18, 1) 10%,
    rgba(25, 21, 18, 1) 90%,
    rgba(10, 10, 10, 1) 99%,
    rgba(10, 10, 10, 1) 100%
  );
  color: var(--primary-text-color);
  border: none;
  outline: none;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(10, 10, 10, 1) 1%,
    rgba(51, 49, 37, 1) 10%,
    rgba(51, 49, 37, 1) 90%,
    rgba(10, 10, 10, 1) 99%,
    rgba(10, 10, 10, 1) 100%
  );
}

.oBtnContainer { 
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    align-items: flex-end;

}

.organizerBtn {
    bottom: 44px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    height: 60px;
    z-index: 3;
    border-radius: 50%;
}

.navsprite {
    background-image: url(../src/components/navsprite.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.navsprite.bosses {
    background-position: -74px 0;
    margin-left: 10px;
}

.navsprite.areas {
    background-position: -185px 0;
    margin-left: 10px;
}

.navsprite.crafting {
    background-position: -37px;
    margin-left: 10px;
}

.navsprite.weapons {
     background-position: -111px 0;
    margin-left: 10px;
}

.navsprite.paper {
    background-position: -222px 0;
    margin-left: 10px;
}
.form {
    width: 400px;
    margin: 0 auto;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
textarea {
    margin-bottom: 20px;
    height:150px;
    font-size: 17px;
    width: 418px;
}
