/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset and base styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
html {
  font-family: 'EB Garamond', serif;
}

.App {
  position: relative;
  min-height: 100vh;
  background-color: #010301;
  color: white;
  background-image: url('./images/blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Navbar  and organizer button */

.navbar_container {
  height: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

a {
  width: 100%;
  color: inherit;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: block;
  width: 100%;
  height: 4vh;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(10, 10, 10, 1) 1%,
    rgba(25, 21, 18, 1) 10%,
    rgba(25, 21, 18, 1) 90%,
    rgba(10, 10, 10, 1) 99%,
    rgba(10, 10, 10, 1) 100%
  );
  color: var(--primary-text-color);
  border: none;
  outline: none;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(10, 10, 10, 1) 1%,
    rgba(51, 49, 37, 1) 10%,
    rgba(51, 49, 37, 1) 90%,
    rgba(10, 10, 10, 1) 99%,
    rgba(10, 10, 10, 1) 100%
  );
}

.logsContainer .button {
  width: 50%;
}

.organizerBtn {
  bottom: 44px;
  cursor: pointer;
  position: absolute;
  background-image: url('./images/map.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: inherit;
  right: 20px;
  width: 70px;
  height: 70px;
  border: none;
  z-index: 3;
  border-radius: 50%;
}

.navsprite {
  background-image: url('./images/navsprite.png');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.navsprite.bosses {
  background-position: -74px 0;
  margin-left: 10px;
}

.navsprite.areas {
  background-position: -185px 0;
  margin-left: 10px;
}

.navsprite.crafting {
  background-position: -37px;
  margin-left: 10px;
}

.navsprite.weapons {
  background-position: -111px 0;
  margin-left: 10px;
}

.navsprite.paper {
  background-position: -222px 0;
  margin-left: 10px;
}
/* Forms */

.form {
  width: 400px;
  margin: 0 auto;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control .btn {
  width: 418px;
}

textarea {
  margin-bottom: 20px;
  height: 150px;
  font-size: 17px;
  width: 418px;
}

/* Log containers */

.areaLogsContainer {
  margin: 20px;
  width: 33%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.craftingLogsContainer {
  margin: 20px;
  width: 33%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Pop up */

.openLog {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 90vh;
  z-index: 1;
  position: fixed;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  border-top: 25px solid;
  border-right: 22px solid;
  border-bottom: 27px solid;
  border-left: 17px solid;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 10px;
  border-image-source: url('./images/border.webp');
  border-image-slice: 25 22 27 17 fill;
  border-image-repeat: round;
}

.hideLog {
  display: none;
}

.logInfo {
  display: flex;
  margin-top: 100px;
  text-align: left;
  gap: 1rem;
  flex-direction: column;
  font-size: 1.4rem;
  word-spacing: 0.3rem;
}

/* Open Log buttons */

.buttons {
  width: 100%;
  text-align: right;
  display: inline-block;
}
.close-btn {
  color: red;
  margin-left: 10px;
  background-image: url('./images/red-x-icon.jpg');
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-position: center;
  background-size: 30px auto;
}

.delete-btn {
  background-image: url('./images/burn_paper.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-position: center;
  background-size: 60px auto;
}

.edit-btn {
  background-image: url('./images/Golden_Needle.png');
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-position: center;
  background-size: 30px auto;
  margin-left: 10px;
}

.btn:hover {
  border: solid 1px black;
  background-color: orange;
}

.btn:hover {
  transition: ease-in 0.2s;
  font-size: -10%;
  cursor: pointer;
}

.table {
  display: flex;
  height: 80vh;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
  border-bottom: white 5px solid;
  border-top: white 5px solid;
  align-items: center;
  border-image: url('./images/tableborder.webp');
  border-image-slice: 100%;
  border-image-slice: 5;
}

.tableLabel {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 15px;
  margin-bottom: 1px;
  border-image-repeat: stretch;
  margin-top: 6px;
  border-bottom: white 5px solid;
  border-image: url('./images/tableborder.webp');
  border-image-slice: 100%;
  border-image-slice: 5;
}

.tableLabel:hover {
  background-color: #56230b;
}
/*CheatSheet */

.data {
  margin: 0 auto;
  width: 50%;
  height: 500px;
  border-right: 9px solid;
  border-bottom: 13px solid;
  border-left: 11px solid;
  padding-right: 4px;
  padding-left: 2px;
  border-image-source: url('./images/border2.webp');
  border-image-slice: 13 9 13 11 fill;
  border-image-repeat: stretch;
}

.data-info {
  display: flex;
  flex-wrap: nowrap;
}

.data-info p,
ul {
  margin-top: 10px;
  padding: 10px 0 0 30px;
}

.data-text p {
  width: 100%;
}

.data-info ul li {
  padding: 5px 0 5px 0;
}

.data-text {
  width: 50%;
  margin: 30px 0 0 30px;
}

.data-img {
  width: 30%;
  height: 200px;
  margin: 30px 0 0 30px;
}

.data-stats {
  display: flex;
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
  color: gold;
}

#Categories,
.search {
  margin: 10px 0 10px 4px;
  width: 418px;
  text-align: center;
}


#cheat-form{
	input {
		text-align: center;
	}

}




/* Footer */

.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  gap: 50px;
  height: 70px;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.footer-text {
  margin: 0;
  padding: 20px;
  white-space: nowrap;
  height: 20px;
}

.footer-link {
  color: #f4d35e;
}

.coffee-btn {
  height: 50px;
  width: 20%;
  margin: 0 20px 0 0;
  padding: 0;
}

/* Responsive Design */

@media (max-width: 1200px) {
  .table {
    gap: 50px;
  }

  .openLog {
    width: 75vw;
    height: 80vh;
  }
}

@media (max-width: 850px) {
  .openLog {
    width: 80vw;
    height: 75vh;
  }
}

@media (max-width: 950px) {
  .logInfo {
    font-size: 1.1rem;
  }
}

@media (max-width: 750px) {
  .openLog {
    width: 85vw;
    height: 70vh;
  }

  .table {
    border-image-slice: 0;
  }

  .nav_text {
    display: none;
  }
}

@media (max-width: 500px) {
  .form-control,
  .form {
    width: 300px;
  }

  textarea {
    width: 318px;
  }
}
